.about_container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
    /* background-color:blue; */
}

.menu_banner_container {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    margin:40px;
}

.menu_title {
    font-size:60px;
    margin:0px;
    font-weight:bold;
    color:rgb(37, 37, 37)
}

.menu_btn {
    background-color:black;
    color:white;
    padding:15px;
    border-radius:20px;
}