.contact__container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  /* background-color:blue; */
  margin:50px;
}
form {
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
  max-width: 480px;
  padding: 0px 12px;
  height: 400px;
  /* background-color:blue; */
}

.contact__title {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 15px;
}

.title__contact {
  font-size: 1.25em;
  font-weight: bold;
}

.title__msg {
  margin-top: 7.5px;
  font-size: 0.85em;
}

.contact__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 0;
  width: 100%;
  margin: 20px 0px;
}

.contact__info > div + div {
  margin-left: 19px;
}

.contact__name,
.contact__email {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contact__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-grow: 2;
}

.contact__message > textarea {
  height: 100%;
}

label {
  display: block;
  padding-bottom: 8px;
}

.contact__submit {
  font-size: 15px;
  border: none;
  padding: 4px;
  border-radius: 5px;
  margin: 12px;
  width: 100%;
}

input {
  font-size: 1em;
  height: 2rem;
}


.img__positioning {
  display:flex;
  flex-direction:row;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
