
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

.App, body {
  text-align: center;
  margin: 0 auto;
  font-family: 'Alkalami', cursive !important;
}

.nav_container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  /* background-color:black; */
  width:60%;
  text-align:center;
  justify-content:space-evenly;
  margin:30px;
  /* height:8vh; */
  height:auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

.straighten_container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
}

.logo_container {
  width:500px;
  display:block;
  text-align:center;
  padding:7px;
  margin:10px;
  /* background-color:red; */
}

.logo_container > p {
  margin-top:-20px;
  margin-left: 70px;
}
